statsite:
  # These have defaults set by grains filtering in map.jinja
  lookup:
    pkg_name: statsite
    pkg_source: 'salt://statsite/debs/statsite_0.7.0_amd64.deb'
    service: statsite
    user: statsite
    group: statsite
    install_dir: /opt/statsite
    conf_dir: /etc/statsite
    log_dir: /var/log/statsite
    pid: /var/run/statsite.pid

  config:
    statsite:  # Every assignment under here will be represented in the [statsite] block
      bind_address: 0.0.0.0
      port: 8125
      udp_port: 8125
      log_level: INFO
      flush_interval: 10
      timer_eps: 0.01
      set_eps: 0.01
      stream_cmd: python sinks/graphite.py localhost 2003   # Use either absolute path for sinks or relative to install_dir
      extended_counters: 1
      input_counter: numStats

    histograms:  # Every entry here will create a [histogram_name] block
      - name: histogram_foo  # Name MUST begin with `histogram_`
        prefix: foobar
        min: 0
        max: 200
        width: 20
